.main-nav .navbar--mobile-hidden {
  display: none;
}
.main-nav--desktop {
  display: none;
}
.main-nav {
  background-color: #eff3f7;
}
.main-nav__logo {
  min-height: 55px;
  position: relative;
}
.main-nav__logo::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: #58697a;
  right: 20px;
  top: 18px;
  border-radius: 5px;
  box-shadow: 0 8px 0 #58697a,
    0 16px 0 #58697a;
}
.page-header {
  margin-bottom: 15px;
  background-color: #eff3f7;
}
.contacts {
  display: none;
  font-family: "FiraSans", sans-serif;
}
.contacts--mobile {
  display: block;
  margin-bottom: 19px;
}
.contacts-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 22px;
}
.contacts-list__item span {
  display: inline-block;
  padding-left: 67px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.contacts-list__item {
  padding: auto 11px;
  text-align: center;
  background-color: #27a1ba;
  font-size: 16px;
  color: white;
}
.contacts-list__item--tel {
  background-color: #41b9d4;
}
.contacts-list__item--tel span {
  padding-right: 98px;
}
.contacts-list__item--telegram {
  background-color: #48cbe8;
}
.contacts-list__item--telegram span {
  padding-right: 73px;
}
.main-info {
  background-color: #eff3f7;
  padding: 13px;
  font-family: "FiraSans", sans-serif;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.main-info__avatar {
  display: inline-block;
  width: 133px;
  height: 133px;
  background-image: url("../img/avatar-mobile.jpg");
  background-repeat: no-repeat;
  background-color: red;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 23px;
  border-radius: 50%;
  margin-left: 25%;
  border: 4px solid #25a1b9;
}
.main-info .table {
  margin: 0;
}
.main-info .table tr {
  margin: 0;
}
.main-info .table td {
  display: block;
  margin: 0;
  text-align: center;
  border-width: 0;
  padding: 0;
  font-size: 19px;
  color: #5a636b;
}
.main-info .table td:last-child {
  margin-bottom: 29px;
}
.main-info .tr__title,
.main-info__skills__title {
  font-size: 20px;
  color: #5a636b;
  font-weight: 700;
}
.main-info__skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 39%;
  text-align: center;
  margin: 0 auto;
}
.main-info__skills__item {
  min-width: 32%;
  background-color: #2e8ca2;
  padding: 1px 5px;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 13px;
  border-radius: 2px;
  margin-bottom: 10px;
  box-shadow: inset 0 -15px 0px 0 #2e8ca2;
}
span.main-info__skills__title {
  display: block;
  width: 100%;
  text-align: center;
}
.education {
  background-color: #eff3f7;
  padding: 13px;
  font-family: "FiraSans", sans-serif;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 40px;
}
.education__title {
  margin-bottom: 34px;
}
.education__item {
  padding-top: 37px;
  margin-bottom: 21px;
}
.education__item__title {
  font-size: 17px;
  color: #979ea5;
  display: block;
}
.education__item__reference {
  font-size: 15px;
  color: #8c949b;
}
.education__item--courses {
  padding-top: 50px;
}
.social-list {
  display: none;
}
.social-list--mobile {
  display: flex;
  justify-content: space-around;
}
.social-list__item {
  background-color: #3ba8c0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
h2 {
  font-family: "FiraSans", sans-serif;
  color: #3ba8c0;
  font-size: 24px;
}
.mobile-hidden {
  display: none;
}
.page-footer {
  font-family: "FiraSans", sans-serif;
  background-color: #eff3f7;
  font-size: 15px;
  min-height: 38px;
  text-align: center;
  padding: 5px 30px;
}
.page-footer .page-footer__copyright {
  font-family: "FiraSans", sans-serif;
  font-size: 11px;
}
